## <u> Use only those concepts which have been taught till now </u>

# <b> Problem 1: Import Pandas and Numpy in the notebook </b>

In [ ]:
# Import statements
import pandas as pd
import numpy as np

# <b> Problem 2 : Load the automobile_data.csv kept in the shared folder

In [ ]:
# Mount your drive and read the csv file. Make sure you are using the correct file path

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
m="/content/drive/MyDrive/Colab Notebooks/dat/automobile_data.csv"
df=pd.read_csv(m)
df.head(15)

    symboling normalized-losses         make  ... city-mpg highway-mpg  price
0           3                 ?  alfa-romero  ...       21          27  13495
1           3                 ?  alfa-romero  ...       21          27  16500
2           1                 ?  alfa-romero  ...       19          26  16500
3           2               164         audi  ...       24          30  13950
4           2               164         audi  ...       18          22  17450
5           2                 ?         audi  ...       19          25  15250
6           1               158         audi  ...       19          25  17710
7           1                 ?         audi  ...       19          25  18920
8           1               158         audi  ...       17          20  23875
9           0                 ?         audi  ...       16          22      ?
10          2               192          bmw  ...       23          29  16430
11          0               192          bmw  ...       23          29  16925
12          0               188          bmw  ...       21          28  20970
13          0               188          bmw  ...       21          28  21105
14          1                 ?          bmw  ...       20          25  24565

[15 rows x 26 columns]

# <b> Problem 3 : Do a basic inspection and print the first and last 15 rows of your dataframe

In [ ]:
# Your code here
print(df.head(15),df.tail(15))
df.columns

    symboling normalized-losses         make  ... city-mpg highway-mpg  price
0           3               NaN  alfa-romero  ...       21          27  13495
1           3               NaN  alfa-romero  ...       21          27  16500
2           1               NaN  alfa-romero  ...       19          26  16500
3           2               164         audi  ...       24          30  13950
4           2               164         audi  ...       18          22  17450
5           2               NaN         audi  ...       19          25  15250
6           1               158         audi  ...       19          25  17710
7           1               NaN         audi  ...       19          25  18920
8           1               158         audi  ...       17          20  23875
9           0               NaN         audi  ...       16          22    NaN
10          2               192          bmw  ...       23          29  16430
11          0               192          bmw  ...       23          29  16925
12          0               188          bmw  ...       21          28  20970
13          0               188          bmw  ...       21          28  21105
14          1               NaN          bmw  ...       20          25  24565

[15 rows x 26 columns]      symboling normalized-losses        make  ... city-mpg highway-mpg  price
190          3               256  volkswagen  ...       24          29   9980
191          0               NaN  volkswagen  ...       19          24  13295
192          0               NaN  volkswagen  ...       33          38  13845
193          0               NaN  volkswagen  ...       25          31  12290
194         -2               103       volvo  ...       23          28  12940
195         -1                74       volvo  ...       23          28  13415
196         -2               103       volvo  ...       24          28  15985
197         -1                74       volvo  ...       24          28  16515
198         -2               103       volvo  ...       17          22  18420
199         -1                74       volvo  ...       17          22  18950
200         -1                95       volvo  ...       23          28  16845
201         -1                95       volvo  ...       19          25  19045
202         -1                95       volvo  ...       18          23  21485
203         -1                95       volvo  ...       26          27  22470
204         -1                95       volvo  ...       19          25  22625

[15 rows x 26 columns]

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

# <b>Problem 4 : You need to clean the data a little bit now. Replace all column values with the values <code>?</code> and <code>n.a</code> with <code>NaN</code>

In [ ]:
# Your code here

df.replace(r'n.a' ,np.NaN, inplace=True)
df.replace(r'?' ,np.NaN, inplace=True)

# <b>Problem 5 : Print the company name which manufactured the most expensive car. Also print the price of the most expensive car

In [ ]:
# Your code here

index = df['price'].fillna(0).astype('int32').argmax()
max_price=df['price'].fillna(0).astype('int32').max()
name=df['make'][index]
name

'mercedes-benz'

# <b>Problem 6 : Calculate maximum horsepowers for each company. </b>

In [ ]:
# Your code here

df['max_horse']=df['horsepower'].fillna(0)
df.groupby(['make']).agg({'horsepower':max})

              horsepower
make
alfa-romero          154
audi                 160
bmw                  182
chevrolet             70
dodge                 88
honda                 86
isuzu                 90
jaguar               262
mazda                 84
mercedes-benz        184
mercury              175
mitsubishi            88
nissan                97
peugot                97
plymouth              88
porsche              288
renault              NaN
saab                 160
subaru                94
toyota                92
volkswagen            90
volvo                162

# <b> Problem 7 : Print the total number of cars manufactured by each company

In [ ]:
# Your code here

df['make'].value_counts()

toyota           32
nissan           18
mazda            17
honda            13
mitsubishi       13
volkswagen       12
subaru           12
volvo            11
peugot           11
dodge             9
bmw               8
mercedes-benz     8
plymouth          7
audi              7
saab              6
porsche           5
isuzu             4
jaguar            3
alfa-romero       3
chevrolet         3
renault           2
mercury           1
Name: make, dtype: int64

# <b> Problem 8 : Create a new column for the updated price. This updated price will be calculated on top of the given price - if the engine is in front, price will be same else if the engine is in rear, price will be doubled </b>

In [ ]:
# Your code here. Use apply and lambda
def updated_price(engine,price):
  if engine=='rear':
    return price*2
  else:
    return price*1
df['updated price'] = df.apply(lambda x: updated_price(x['engine-location'],x['price']),axis=1)

# <b>Problem 9 : Sort the dataframe by car and price columns

In [ ]:
# Your code here
df.sort_values(['make','price'])

     symboling normalized-losses         make  ...  price max_horse updated price
0            3               NaN  alfa-romero  ...  13495       111         13495
1            3               NaN  alfa-romero  ...  16500       111         16500
2            1               NaN  alfa-romero  ...  16500       154         16500
3            2               164         audi  ...  13950       102         13950
5            2               NaN         audi  ...  15250       110         15250
..         ...               ...          ...  ...    ...       ...           ...
199         -1                74        volvo  ...  18950       162         18950
201         -1                95        volvo  ...  19045       160         19045
202         -1                95        volvo  ...  21485       134         21485
203         -1                95        volvo  ...  22470       106         22470
204         -1                95        volvo  ...  22625       114         22625

[205 rows x 28 columns]

# <b> Problem 10 : Create a new column which stores the number of doors in a car as integers.

In [ ]:
# Your code here. Use apply
print(df['num-of-doors'].value_counts())
def st_int(doors):
    
    if doors== 'four':
        no_of_doors=4
        return doors
    else:
        doors=2
        return doors

df['num-of-doors'] = df.apply(lambda x: st_int(x['num-of-doors']),axis=1)

four    114
two      89
Name: num-of-doors, dtype: int64

# <b>Problem 11 : Concatenate the two data frames given below firstly row wise and secondly column wise.</b>

<code>GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}</code>

<code>japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}</code>

In [ ]:
# Your code here
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}

japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}
df_GermanCars = pd.DataFrame(GermanCars)
df_japaneseCars = pd.DataFrame(japaneseCars)
#row wise
pd.concat([df_GermanCars,df_japaneseCars], axis=1)
#column wise
pd.concat([df_GermanCars,df_japaneseCars])

       Company   Price
0         Ford   23845
1     Mercedes  171995
2          BMV  135925
3         Audi   71400
0       Toyota   29995
1        Honda   23600
2       Nissan   61500
3  Mitsubishi    58900